.banner {
	height: 90vh;
	color: #585858;
	background: linear-gradient(135deg, rgba(0,0,0,.8) 0%, rgba(0,0,0,.3) 80%), url(https://scontent.fsin5-1.fna.fbcdn.net/v/t31.0-8/13412000_10154258733785996_2956113212048391917_o.jpg?_nc_cat=100&_nc_oc=AQlwclTIp2sKd043mMw0IwBF3kKzY66viGqUuL2GqxsEDML9bL4EjxlxuwmpWKSVij8&_nc_ht=scontent.fsin5-1.fna&oh=4c9101739887ff8d27f0e2c71518230c&oe=5E3EA9CF);
  	background-size: cover;
	background-position: center;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	text-align: center;
}
.banner-content h1 {
	font-family: 'Raleway', sans-serif;
	color: #3DBE99;
	font-size: 40px;
	font-weight: bold;
}
.banner-content p {
	font-family: 'Raleway', sans-serif;
	color: #EDF9F5;
	font-size: 20px;
}
.banner-content a:hover {
	background: #83D5BE;
	color: #EDF9F5;
}
